.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
.noteList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    padding: 20px;
    overflow-y: auto;
}
  
@media (max-width: 600px) {
    .noteList {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      padding: 10px;
    }
}
