.footer {
    background-color: #006bb3;
  text-align: center;
  padding: 16px 32px;
  color: #fff;
  font-size: 0.9rem;
  z-index: 100;
  position: relative; /* Make sure footer is not fixed/overlapping content */
  margin-top: auto;
}

.default {
    background-color: #006bb3;
}
.notekeeper{
    background-color: #f5ba13;
}

.shoppinglist{
    background-color: #00FF9C;
}

.footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
  
.footerText {
    margin: 0;
}
  
.socialLinks {
    display: flex;
    gap: 15px;
}
  
.socialLink {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}
  
.socialLink:hover {
    color: #333333; /* Hover effect with warm yellow */
}

@media (max-width: 600px) {
    .footerContent {
      flex-direction: column;
      align-items: center;
    }
  
    .socialLinks {
      margin-top: 10px;
    }
    
}