.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 500px;
    min-width: 250px;
    min-height: 500px;
    max-height: 50vh;
    background-color: #CCFFEC;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
    background-size: 25px 25px;
    border-radius: 20px;
    box-shadow: 4px 3px 7px 2px #00000040;
    padding: 1rem;
    box-sizing: border-box;
    overflow-y: auto;
}

.container::-webkit-scrollbar {
    width: 12px;
}
  
.container::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}
  
.container::-webkit-scrollbar-thumb {
    background-color: #4CAF50;
    border-radius: 10px;
    height: 20px;
    min-height: 20px;
  }
  
.container::-webkit-scrollbar-thumb:hover {
    background-color: #388E3C;
}
  
.container::-webkit-scrollbar-corner {
    background-color: transparent;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.heading h1 {
    transform: rotate(2deg);
    padding: 0.2rem 1.2rem;
    border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
    background-color: #fdcb6e;
    font-size: 1.5rem;
}
  
.buttonStyle {
    padding: 0;
    border: none;
    font-family: "Architects Daughter", cursive;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    background-color: #ffeaa7;
}

  
.completeButton {
    background-color: #4CAF50;
    margin-right: 8px;
    margin-left: 40px;
}

.formdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}
  
.cancelButton{
    background-color: #ff6f61;
    float: right;
    margin-right: 10px;
}
  
@media (max-width: 600px) {
    
    .completeButton {
      margin: 0;
    }

    .container {
        max-width: 85%;
        min-height: 400px;
        max-height: 60vh;
      }
}